body {
    padding-top: 70px;
}

#example {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.navbar-nav {
    font-weight: bold;
    float: none;
    display: flex;
    justify-content: space-between;
    background: none;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #000;
}

@media only screen and (max-width: 500px) {
    .navbar-default .navbar-nav>li>a:hover {
        color: #bd5858;
        background: transparent;
        border-radius: 0px;
    }
}

#home {
    background: #ffffff;
}

#center {
    display: flex;
    justify-content: center;
    height: 600px;
}

#home img {
    align-self: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    #home img {
        align-self: center;
        width: 100%;
        height: 30%;
    }
}

#casamiento {
    padding-top: 70px;
    height: 200px;
}

#casamiento h4 {
    font-weight: bold;
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

#fotos {
    padding-top: 50px;
    text-align: center;
}

#regalos {
    height: 650px;
    padding-top: 50px;
    text-align: center;
}

#rsvp {
    height: 650px;
    padding-top: 50px;
    text-align: center;
}

#panorama {
    width: 30%;
    height: 300px;
}

@media only screen and (max-width: 500px) {
    #panorama {
        width: 320px;
    }
}

#mapa {
    width: 30%;
    text-align: center;
    margin-right: 10px;
    height: 300px;
}

@media only screen and (max-width: 500px) {
    #mapa {
        width: 320px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

#imagen {
    height: 300px;
    background: url("https://scontent.fsst1-2.fna.fbcdn.net/v/t1.0-9/13495056_918261634952847_2177331484349723732_n.jpg?oh=a5646d1e9983cfcf39f4399637fa5586&oe=59D4761F") no-repeat fixed;
    background-size: cover;
    background-position: inherit;
}

@media only screen and (max-width: 500px) {
    #imagen {
        background-position: 20%;
    }
}

#fotos {
    height: 620px;
}
.navbar {
    border-radius: 0px;
}

.navbar-default {
    background: black;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.centrando {
    display: flex;
    justify-content: center;
    height: 350px;
}

@media only screen and (max-width: 500px) {
    .centrando {
        flex-direction: column;
        height: 620px;
        align-items: center;
    }
}